.error-container {
  background-color: $sunset-orange;
  color: white;
  height: 100vh;
  font-family: $header-font;
  padding-top: 85px;

}

.error h1 {
  margin-top: 0;
  font-weight: 100;
  font-size: 300px;
  text-transform: uppercase;
}

.error h2 {
  font-weight: 100;
  font-size: 70px;
  text-transform: uppercase;
  font-style: italic;
  word-spacing: 10px;
  letter-spacing: 3px;
}
