/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}



.search-bar input {
  border-radius: 0;
  border: solid $new-blue 2px;
  color: $new-blue;
  margin-left: 10px;

}

.search-bar label {
  color: $new-blue;
}


.search-bar .btn {
  border-radius: 0;
  background-color: $sunset-orange;
  color: white;
  border: none;

}

.search-bar .btn:hover {
  box-shadow: none;
  color: $sunset-orange;
  background-color: white;
  border: none;
}

#project_category {
  border-radius: 0 !important;
  color: $new-blue;
  border: solid $new-blue 2px;
}

#project-title  {
  color: $sunset-orange;
}

.wrapper h2 {
  font-weight: 100;
  font-size: 75px;
  color: $sunset-orange;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 35px;

}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $new-blue;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $new-blue;
}


// Algolia shit

.aa-input-container {
  display: inline-block;
  position: relative; }
.aa-input-search {
  width: 300px;
  border: 1px solid rgba(228, 228, 228, 0.6);
  padding: 12px 28px 12px 12px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .aa-input-search::-webkit-search-decoration, .aa-input-search::-webkit-search-cancel-button, .aa-input-search::-webkit-search-results-button, .aa-input-search::-webkit-search-results-decoration {
    display: none; }

.aa-dropdown-menu {
  background-color: #fff;
  border: 1px solid rgba(228, 228, 228, 0.6);
  min-width: 300px;
  margin-top: 10px;
  box-sizing: border-box; }
.aa-suggestion {
  padding: 12px;
  cursor: pointer;
  color: black;
}
.aa-suggestion + .aa-suggestion {
    border-top: 1px solid rgba(228, 228, 228, 0.6);
}
  .aa-suggestion:hover, .aa-suggestion.aa-cursor {
    background-color: rgba(241, 241, 241, 0.35); }
