/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}



.search-bar input {
  border-radius: 0;
  border: solid $new-blue 2px;
  color: $new-blue;
  margin-left: 10px;

}

.search-bar label {
  color: $new-blue;
}


.search-bar .btn {
  border-radius: 0;
  background-color: $sunset-orange;
  color: white;
  border: none;

}

.search-bar .btn:hover {
  box-shadow: none;
  color: $sunset-orange;
  background-color: white;
  border: none;
}

#project_category {
  border-radius: 0 !important;
  color: #999999;
  border: solid white 2px;
}

#project-title  {
  color: $sunset-orange;
}

.wrapper h2 {
  font-weight: 100;
  font-size: 75px;
  color: $sunset-orange;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 35px;

}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $new-blue;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $new-blue;
}


select {
  border-radius: 0;
  border: none;
}
