#conversations {
  margin-top: 22px;
}

.conversation-list h3 {
  font-family: $header-font;
  font-weight: 100;
  color: $new-blue;
  font-size: 20px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
}

.conversation-list p {
  color: $payne-grey;
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
  letter-spacing: 0.8px;
  word-spacing: 0.8px;

}

.view-msg-btn {
  border-radius: 0;
  background-color: $new-blue;
  color: white;
  text-decoration: none;
  border: solid $new-blue 2px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.empty-conversarion h3 {
  font-size: 34px;
  font-weight: 100;
  letter-spacing: 1.5px;
  word-spacing: 1px;
  color: $new-blue;
  text-transform: uppercase;
  font-style: italic;
  margin-top: 150px;
}
.view-msg-btn:hover {
  background-color: white;
  border: solid $new-blue 2px;
  color: $new-blue;
}

.msg-row {
  vertical-align: middle;
}


.conversation-username {
  font-weight: 300;
  font-style: italic;
}
