.project-show h1 {
  text-align: center;
  font-size: 60px;
  font-weight: 100;
  letter-spacing: 3px;
  word-spacing: 2px;
  text-transform: uppercase;
  font-style: italic;
  margin-top: 15px;
  color: $sunset-orange;
  margin-bottom: 30px;
  line-height: 74px;
}

.collaborator-img {
  height: 150px;
}

.collaborators img {
  // height: 100px;
  margin-right: 6px;
  margin-bottom: 6px;
}
.project-card {
  height: 445px;
  position: relative;
  // border: solid $sunset-orange 2px;
  outline: solid $sunset-orange 2px;
  // outline-offset: -15px;
  color: $payne-grey;
  font-weight: 300;
  padding-left: 0;
}

.project-card h4{
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 15px;
  margin: 20px 0 0 0;
  color: $payne-grey;
}

.project-info h3 {
  color: $sunset-orange;
  font-size: 24px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 35px;
  margin-bottom: 20px;
}

.short-description {
  font-size: 16px;
  letter-spacing: 0.7px;
}

.panel-side {
  margin-top: 45px;
  margin-bottom: 45px;
  padding-right: 40px;
}

.panel-side p {
  line-height: 24px;
}

.video {
  padding-left: 0;
}

.lower-left h3 {
  color: $sunset-orange;
  font-size: 24px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  margin-bottom: 5px;
}

.lower-left {
  border-right: $sunset-orange 2px solid;
  min-height: 300px;
}



.project-full-info {
  margin-top: 60px;
  color: $payne-grey;
  font-size: 16px;
  letter-spacing: 1.2px;
  font-weight: 300;
  line-height: 26px;

}

.lower-right {
  padding-left: 40px;
  margin-top: 25px;

}


.role-btn {
  background-color: $new-blue;
  color: white;
  border: none;
  box-shadow: none;
  border: $new-blue 2px solid;
  margin-bottom: 8px;
  margin-left: 4px;
  letter-spacing: 0.7px;

}

.role-btn:hover {
  background-color: white;
  border: $new-blue 2px solid;
  color: $new-blue;
}

.project-category h5 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 300;
  min-width: 100px;
  color: $new-blue;
  letter-spacing: 1.4px;
  margin-top: 0;
  margin-bottom: 20px;
}

.popup-title {
  margin-top: 0;
  font-size: 47px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-style: italic;
  color: $sunset-orange;
  margin-bottom: 28px;
}

.popup-description, .popup-requirements p{
  color: $payne-grey;
  font-size: 18px;
  letter-spacing: 0.7px;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 20px;
}

.roles-modal-list {
  padding: 10px 20px;
}

.popup-requirements h3 {
  color: $sunset-orange;
  text-transform: uppercase;
  font-size: 24px;
  margin-top: 0;
  font-weight: 100;
  letter-spacing: 1.3px;
}

.popup-btn {
  border-radius: 0;
  background-color: $new-blue;
  color: white;
  text-decoration: none;
  margin-top: 10px;
  border: solid $new-blue 2px;
}

.popup-btn a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
}

.popup-btn:hover {
  background-color: white;
  border: solid $new-blue 2px;
}


.popup-btn:hover a {
  color: $new-blue;
}

.modal-content {
  border: solid 4px $sunset-orange;
  box-shadow: none;
}

.close {
  color: $new-blue;
}

.bg-picture {
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
}

.project-show-request {
  border: solid 2px $new-blue;

}

.btn-roles {
  border-radius: 0;
  background-color: $sunset-orange;
  color: white;
  text-decoration: none;
  margin-top: 10px;
  border: solid $sunset-orange 2px;
  text-transform: uppercase;
}

.btn-roles:hover {
  background-color: white;
  border: solid $sunset-orange 2px;
}

#check:hover {
  color: $sunset-orange;
}

.project-show-picture {
  width: 100%;
  height: 445px;
}

.project-avatar {
  height: 60px;
  width: 60px;
}

.collaborator-img {
  margin-bottom: 5px;
  margin-right: 5px;
}

.delete-project {
  background-color: $sunset-orange;
  border: solid 1px $sunset-orange;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 300;
  width: 280px;
  text-align: center;
  margin-top: 35px;
}

.delete-project a {
  text-decoration: none;
  color: white;
}

.delete-project:hover {
  background-color: white;
}

.delete-project:hover a {
  color: $sunset-orange;
}
