.project-show h1 {
  text-align: center;
  font-size: 80px;
  font-weight: 100;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-style: italic;
  margin-top: 0;
  color: $sunset-orange;
}

.project-card {
  min-height: 300px;
  position: relative;
  // border: solid $sunset-orange 2px;
  outline: solid $sunset-orange 2px;
  outline-offset: -15px;
  color: $payne-grey;
  font-weight: 300;
}

.project-card h4{
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 15px;
  margin: 10px 0 0 0;
  color: $payne-grey;
}

.project-info h3 {
  color: $sunset-orange;
  font-size: 24px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top:35px;
}

.short_description {
  font-size: 16px;
  letter-spacing: 1px;
}

.panel-side {
  margin-top: 45px;
  padding-right: 40px;
}

.panel-side p {
  line-height: 24px;
}

.video {
  padding-left: 0;
}

.lower-left h3 {
  color: $sunset-orange;
  font-size: 24px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.lower-right {
  border-left: $sunset-orange 2px solid;
}



.project-full-info {
  margin-top: 60px;
  color: $payne-grey;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 24px;

}

.lower-right {
  padding-left: 40px;
  margin-top: 25px;
}


.role-btn {
  background-color: $new-blue;
  color: white;
  border: none;
  box-shadow: none;
  border: $new-blue 2px solid;
  margin-bottom: 8px;
  margin-left: 4px;

}

.role-btn:hover {
  background-color: white;
  border: $new-blue 2px solid;
  color: $new-blue;
}


