.project-show h1 {
  text-align: center;
  font-size: 80px;
  font-weight: 100;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-style: italic;
  margin-top: 0;
  color: $sunset-orange;
}

.project-card {
  min-height: 300px;
  position: relative;
  // border: solid $sunset-orange 2px;
  outline: solid $sunset-orange 2px;
  outline-offset: -15px;
  color: $payne-grey;
  font-weight: 300;
}

.project-card h4{
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 15px;
  margin: 10px 0 0 0;
  color: $payne-grey;
}

.project-info h3 {
  color: $sunset-orange;
  font-size: 24px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top:25px;
}

.short_description {
  font-size: 16px;
  letter-spacing: 1px;
}

.panel-side {
  margin-top: 45px;
  padding-right: 40px;
}

.panel-side p {
  line-height: 24px;
}

.video {
  padding-left: 0;
}

.lower-left h3 {
  color: $sunset-orange;
  font-size: 24px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.lower-left {
  border-right: $sunset-orange 2px solid;
}



.project-full-info {
  margin-top: 60px;
  color: $payne-grey;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 24px;

}

.lower-right {
  padding-left: 40px;
  margin-top: 25px;

}


.role-btn {
  background-color: $new-blue;
  color: white;
  border: none;
  box-shadow: none;
  border: $new-blue 2px solid;
  margin-bottom: 8px;
  margin-left: 4px;
  letter-spacing: 0.7px;

}

.role-btn:hover {
  background-color: white;
  border: $new-blue 2px solid;
  color: $new-blue;
}

.project-category h5 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 300;
  min-width: 100px;
  color: $new-blue;
  letter-spacing: 1.4px;
  margin-top: 0;
}

.popup-title {
  margin-top: 0;
  font-size: 47px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-style: italic;
  color: $sunset-orange;
  margin-bottom: 28px;
}

.popup-description, .popup-requirements p{
  color: $payne-grey;
  font-size: 18px;
  letter-spacing: 0.7px;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 20px;
}

.roles-modal-list {
  padding: 10px 20px;
}

.popup-requirements h3 {
  color: $sunset-orange;
  text-transform: uppercase;
  font-size: 24px;
  margin-top: 0;
  font-weight: 100;
  letter-spacing: 1.3px;
}

.popup-btn {
  border-radius: 0;
  background-color: $new-blue;
  color: white;
  text-decoration: none;
  margin-top: 10px;
  border: solid $new-blue 2px;
}

.popup-btn a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;

}

.popup-btn:hover {
  background-color: white;
  border: solid $new-blue 2px;
}


.popup-btn:hover a {
  color: $new-blue;
}

.modal-content {
  border: solid 4px $sunset-orange;
  box-shadow: none;
}
