<div class="container">
   <div class="row">
      <div class="col-xs-12">
        <div class="request-to-join-header text-center">
          <h1>Your chats</h1>
        </div>

        <% if @conversations.first.nil? %>
        <div class="empty-conversarion">
          <div class="col-xs-12 text-center">
            <h3>No chats to show</h3>
          </div>
        </div>
          <% else %>
            <div class="col-xs-12">
              <div id="conversations">
              <%= render @conversations %>
              </div>
            </div>
          <% end %>

    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script>

    var pusher = new Pusher('b0de02a8f3fdb48196e8', {
      cluster: 'eu',
      encrypted: true
    });

    var channel = pusher.subscribe('user-id');
    channel.bind('message', function(data) {
      location.reload();
    });

  </script>
<% end %>
