

<div class="pusher">

  <div class="alert accepted-request-notification">
    <h2>Your request was accepted</h2>
  </div>

  <div class="alert declined-request-notification">
    <h2>Your request was declined</h2>
  </div>

  <div class="alert new-message-notification">
    <h2>You have a new message</h2>
  </div>

</div>
