

<div class="pusher">

  <div class="hidden accepted-request-notification">
    <h2>Your request was accepted</h2>
  </div>

  <div class="hidden declined-request-notification">
    <h2>Your request was declined</h2>
  </div>

  <div class="hidden new-message-notification">
    <h2>You have a new message</h2>
  </div>

</div>
