.space-top {
  margin-top: 5px;
}
#no-resize {
  resize: none;
  min-width: 600px;
  height: 34px;
}
#descr {
  min-width: 600px;
  max-width: 610px;
  max-height: 800px;
}
#normal {

.container {
  padding: 30px 20px;
}
