<!-- USING BOOTSTRAP TABS! NOT LEWAGON TABS! -->
<div>
  <div class="tab-container">
    <!-- Nav tabs -->
    <div class="responsive">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#main" aria-controls="#" role="tab" data-toggle="tab">Main</a></li>
        <li role="presentation"><a href="#projects" aria-controls="#" role="tab" data-toggle="tab">My Projects</a></li>
        <li role="presentation"><a href="#working" aria-controls="#" role="tab" data-toggle="tab">Working on</a></li>
        <li role="presentation"><a href="#incoming" aria-controls="#" role="tab" data-toggle="tab">Incoming</a></li>
        <li role="presentation"><a href="#outgoing" aria-controls="#" role="tab" data-toggle="tab">Outgoing</a></li>
      </ul>
    </div>
  </div>

  <!-- Tab panes -->
  <div class="tab-content">

<!-- EVERYTHING SHOULD BE EDITED IN HERE FOR EACH TAB. ALL HTML CODE GOES IN HERE! -->
    <div role="tabpanel" class="tab-pane active" id="main">
      <%= render 'main' %>
    </div>


<!-- EVERYTHING SHOULD BE EDITED IN HERE FOR EACH TAB. ALL HTML CODE GOES IN HERE! -->
    <div role="tabpanel" class="tab-pane" id="projects">
      projects
    </div>

<!-- EVERYTHING SHOULD BE EDITED IN HERE FOR EACH TAB. ALL HTML CODE GOES IN HERE! -->
    <div role="tabpanel" class="tab-pane" id="working">
      working on
    </div>


<!-- EVERYTHING SHOULD BE EDITED IN HERE FOR EACH TAB. ALL HTML CODE GOES IN HERE!-->
    <div role="tabpanel" class="tab-pane" id="incoming">
      Incoming
    </div>

      <!-- EVERYTHING SHOULD BE EDITED IN HERE FOR EACH TAB. ALL HTML CODE GOES IN HERE!-->
    <div role="tabpanel" class="tab-pane" id="outgoing">
      Outgoing
    </div>


  </div>
</div>


