.banner {
  color: white;
  text-align: center;
  height: calc(100vh - 60px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  justify-content: center;
  position: relative;
}


.banner h1 {
  text-transform: uppercase;
  font-size: 4.69vw;
  font-weight: 100;
  letter-spacing: 3.5px;
  font-style: italic;
  text-align: center;
  line-height: 80px;
  padding-top: 50px;
  padding-bottom: 40px;
  word-wrap: break-word;
     -webkit-hyphens: auto;
     -moz-hyphens: auto;
     -ms-hyphens: auto;
     -o-hyphens: auto;
     hyphens: auto;
}

.home-bold {
  color: $sunset-orange;
}

.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.home-bold {
  font-weight: 400;
}
.banner h2 {
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: left;
  font-size: 3.5vw;
  line-height: 30px;
  margin-left: 4px;
}

.banner-home {
  justify-content: right !important;
}


.banner-home-content {
  position: absolute;
  margin-left: 4.8%;
  font-size: 4.69vw;

}

.banner-home-content h1 {
  text-align: left;
}


