.banner {
  color: white;
  text-align: center;
  height: calc(100vh - 60px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  // align-items: center;
  justify-content: center;
  position: relative;
}


.banner h1 {
  text-transform: uppercase;
  font-size: 81px;
  font-weight: 100;
  letter-spacing: 3.5px;
  font-style: italic;
  text-align: left;
  line-height: 96px;
}

.home-bold {
  color: $sunset-orange;
}

.banner-title {
  position: absolute;
  top: 50px;
  left: calc(50vw - (668px / 2));
  left: 60px;
}

.search-bar {
  // margin-top: 300px;
  position: absolute;
  bottom: 65px;
  // left: calc(50vw - (639.5px / 2))
  left: 60px;

}


.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.home-bold {
  font-weight: 400;
}
.banner h2 {
  font-size: 34px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: left;

  line-height: 40px;
  margin-left: 4px;
}


