<div class="msg-content">
  <p class="body-msg"><%= emojify personal_message.body %></p>
  <p class="body-sender">by <strong class="sender-name"><%= personal_message.user.full_name %></strong><%= distance_of_time_in_words(personal_message.created_at, Time.now) + " ago" %></p>

  <hr>
</div>
